.form {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  gap: 1em;
  margin-top: 1em;
}


.form label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85em;
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.25em;

}

.form Button {
  margin: 0 auto;
  align-self: flex-start;
}