.btn {
  border: none;
  color: #6200EE;
  background-color: #30D5C8;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  padding: 0.2em 2em;
  font-size: 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}