.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header {
  background-color: #6200EE;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.header__title {
  font-size: 1.25em;
}

.title__bold {
  font-weight: bold;
}

.btn {
  border: none;
  color: white;
  background-color: #2A913E;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.2em 2em;
  font-size: 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}

.header__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.map {
  background-color: grey;
  height: 100%;
}